:root {
    position: absolute;
    height: 100vh;
    left: 0%;
    right: 0%;
    top: 0;
    background-image: var(--image-url);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    --text-color: #FFF;
    --image-url: url("../static/background.png");
}